{{ 'component-media-with-product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-padding .product-card-overlay {
    bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding .product-card-overlay {
      bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{% assign selected_product = all_products[section.settings.selected_product] %}
<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="media-with-product-section">
      <div>
        {% if section.settings.desktop_media_type == 'video' and section.settings.desktop_video != blank %}
          {% render 'video-player',
            class_video: 'video-js media-background',
            class_play_button: 'banner__media-video-play button-reset',
            class_pause_button: 'banner__media-video-pause button-reset',
            video: section.settings.desktop_video,
            image_size: '1200x',
            autoplay: true,
            loop: true,
            muted: true
          %}
        {% elsif section.settings.desktop_media_type == 'image' and section.settings.desktop_image != blank %}
          <img
            src="{{ section.settings.desktop_image | image_url: width: 2000 }}"
            alt="Section Image"
            class="media-background"
          >
        {% endif %}
      </div>

      {% if selected_product %}
        <a href="{{ selected_product.url }}" class="product-card-overlay">
          <div class="product-image">
            <img src="{{ selected_product.featured_image | image_url: width: 300 }}" alt="{{ selected_product.title }}">
          </div>
          <div class="product-details">
            <h3>{{ selected_product.title }}</h3>
            <p>{{ selected_product.price | money }}</p>
            <div class="product-extra">
              <div class="product-description">
                {{ selected_product.description | strip_html | truncatewords: 20 }}
              </div>

              {% if selected_product.variants.size > 1 %}
                <div class="product-variants">
                  <label>Variants</label>
                  <ul>
                    {% for variant in selected_product.variants %}
                      <li>{{ variant.title }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="product-icon">
            <span class="svg-wrapper">
              {{ 'right-scroll.svg' | inline_asset_content }}
            </span>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Media with Product",
  "settings": [
    {
      "type": "radio",
      "id": "desktop_media_type",
      "label": "Desktop Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "video",
      "id": "desktop_video",
      "label": "Desktop Video"
    },
    {
      "type": "product",
      "id": "selected_product",
      "label": "Select Product"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Media with Product"
    }
  ]
}
{% endschema %}
